.footer {
    width: 100%;
    text-align: center;
    height: 60px;
    background: #1e272e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: 2px solid #22d3de;
}