$color: #000;
$backgrounnd: black;
$normal-font: 'Helvetica';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: $normal-font;

}

.header {
    background-image: url('assets/img/name.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .nav {
        display: flex;
        justify-content: end;
    }

    .main-menu {
        display: flex;
        margin-right: 50px;
    }

    .main-menu__item {
        padding: 15px 15px;
        list-style-type: none;

    }

    .main-menu__link {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
    }

    .videoMediyak {
        margin: 100px 100px;
        position: relative;
        display: flex;


        h2 {
            font-size: 50px;
            color: white;
            align-self: center;
            margin: 80px
        }

    }
}